@use './../../vars';

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3.2rem;
    z-index: 2;
    margin: 0 11rem;
}

.menuBtn {
    display: none;
}

.title {
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
    color: vars.$color-text;
}

.menu {
    display: flex;
}

.menuItems {
    display: flex;
    gap: 3rem;
    list-style: none;
    a {
        font-size: 1.6rem;
        color: vars.$color-text;
        text-decoration: none;
    }
}

@media screen and (max-width: vars.$mobile) {
    .navbar {
        margin: 0 2rem;
    }

    .menuContainer {
        display: flex;
        justify-items: center;
        align-items: center;
        height: 100vh;
        z-index: 1;
        left: -15rem;
        top: 0;
        position: fixed;
        gap: 13px;
        background: rgb(25, 55, 109);
        background: linear-gradient(
            0deg,
            rgba(25, 55, 109, 0.2) 0%,
            rgba(25, 55, 109, 1) 100%
        );
        padding: 24px 33px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0.25);
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

    .menu {
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }

    .menuBtn {
        height: 2.5rem;
        display: block;
        cursor: pointer;
    }

    .menuItems {
        flex-direction: column;
        align-items: center;
        transition: all 0.2s ease-out;
    }

    .menuOpen {
        position: fixed;
        left: 0;
        top: 0;
        margin: 0;
        z-index: 1;
    }
}
