@use './vars';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: vars.$font-normal;

    font-family: 'Outfit', Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

// GHOST DETECTOR
/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */

@media screen and (max-width: 768px) {
    * {
        font-size: vars.$font-small;
    }
}
