/* Colors */

$color-text: #fff;
$color-primary: #578dbc;
$color-secondary: #19496d;
$color-dark: #0b2447;
$color-bg: #062a4e;

/* Fonts */
$font-roboto: 'Roboto';

/* Font Sizes */
$font-small: 12px;
$font-normal: 16px;

/* Media */

$mobile: 768px;
